<link href="/static/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/main-min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/page-min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/css/prettify.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript" src="/static/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/static/assets/js/bui.js"></script>
<script type="text/javascript" src="/static/assets/js/config.js"></script>
