<!DOCTYPE HTML>
<html>
 <head>
  <title> 页面操作快捷方式</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     {% include 'files.html' %}
 </head>
 <body>
  
  <div class="container">
    <div class="row">
      <div class="span10">
        <div class="tips tips-large tips-success">
          <span class="x-icon x-icon-success"><i class="icon icon-ok icon-white"></i></span>
          <div class="tips-content">
            <h2>成功信息</h2>
            <p class="auxiliary-text">
              你可以继续操作以下内容：
            </p>
            <p>
              <a class="page-action" data-id="example" title="搜素页面" href="{{action}}">返回</a>
            </p>
          </div>
        </div>
      </div> 
    </div>
  </div>
 

<body>
</html>  